@import "https://fonts.googleapis.com/css?family=Open+Sans:400,600";
/* cheatsheet

# media queries
  @media only screen and (min-width:768px)
  @media only screen and (min-width:1025px)
  @media only screen and (min-width:1224px)

# load for critical css only
  @if $critical == "yes" or $critical == "full"

# load for non-critical css only
  @if $critical == "no" or $critical == "full"

# generate classes from $color-map
  @each $name, $color in $color-map

*/
.has-columns.is-margin-small {
  margin: 0 -0.5%; }
  .has-columns.is-margin-small > .is-column {
    margin: 0 0.5%; }
    .has-columns.is-margin-small > .is-column.is-0 {
      width: -1%; }
    .has-columns.is-margin-small > .is-column.is-1 {
      width: 7.33333%; }
    .has-columns.is-margin-small > .is-column.is-2 {
      width: 15.66667%; }
    .has-columns.is-margin-small > .is-column.is-3 {
      width: 24%; }
    .has-columns.is-margin-small > .is-column.is-4 {
      width: 32.33333%; }
    .has-columns.is-margin-small > .is-column.is-5 {
      width: 40.66667%; }
    .has-columns.is-margin-small > .is-column.is-6 {
      width: 49%; }
    .has-columns.is-margin-small > .is-column.is-7 {
      width: 57.33333%; }
    .has-columns.is-margin-small > .is-column.is-8 {
      width: 65.66667%; }
    .has-columns.is-margin-small > .is-column.is-9 {
      width: 74%; }
    .has-columns.is-margin-small > .is-column.is-10 {
      width: 82.33333%; }
    .has-columns.is-margin-small > .is-column.is-11 {
      width: 90.66667%; }
    .has-columns.is-margin-small > .is-column.is-12 {
      width: 99%; }
    @media only screen and (min-width: 768px) {
      .has-columns.is-margin-small > .is-column.is-mobile-0 {
        width: -1%; }
      .has-columns.is-margin-small > .is-column.is-mobile-1 {
        width: 7.33333%; }
      .has-columns.is-margin-small > .is-column.is-mobile-2 {
        width: 15.66667%; }
      .has-columns.is-margin-small > .is-column.is-mobile-3 {
        width: 24%; }
      .has-columns.is-margin-small > .is-column.is-mobile-4 {
        width: 32.33333%; }
      .has-columns.is-margin-small > .is-column.is-mobile-5 {
        width: 40.66667%; }
      .has-columns.is-margin-small > .is-column.is-mobile-6 {
        width: 49%; }
      .has-columns.is-margin-small > .is-column.is-mobile-7 {
        width: 57.33333%; }
      .has-columns.is-margin-small > .is-column.is-mobile-8 {
        width: 65.66667%; }
      .has-columns.is-margin-small > .is-column.is-mobile-9 {
        width: 74%; }
      .has-columns.is-margin-small > .is-column.is-mobile-10 {
        width: 82.33333%; }
      .has-columns.is-margin-small > .is-column.is-mobile-11 {
        width: 90.66667%; }
      .has-columns.is-margin-small > .is-column.is-mobile-12 {
        width: 99%; } }
    @media only screen and (min-width: 1025px) {
      .has-columns.is-margin-small > .is-column.is-tablet-0 {
        width: -1%; }
      .has-columns.is-margin-small > .is-column.is-tablet-1 {
        width: 7.33333%; }
      .has-columns.is-margin-small > .is-column.is-tablet-2 {
        width: 15.66667%; }
      .has-columns.is-margin-small > .is-column.is-tablet-3 {
        width: 24%; }
      .has-columns.is-margin-small > .is-column.is-tablet-4 {
        width: 32.33333%; }
      .has-columns.is-margin-small > .is-column.is-tablet-5 {
        width: 40.66667%; }
      .has-columns.is-margin-small > .is-column.is-tablet-6 {
        width: 49%; }
      .has-columns.is-margin-small > .is-column.is-tablet-7 {
        width: 57.33333%; }
      .has-columns.is-margin-small > .is-column.is-tablet-8 {
        width: 65.66667%; }
      .has-columns.is-margin-small > .is-column.is-tablet-9 {
        width: 74%; }
      .has-columns.is-margin-small > .is-column.is-tablet-10 {
        width: 82.33333%; }
      .has-columns.is-margin-small > .is-column.is-tablet-11 {
        width: 90.66667%; }
      .has-columns.is-margin-small > .is-column.is-tablet-12 {
        width: 99%; } }
    @media only screen and (min-width: 1224px) {
      .has-columns.is-margin-small > .is-column.is-desktop-0 {
        width: -1%; }
      .has-columns.is-margin-small > .is-column.is-desktop-1 {
        width: 7.33333%; }
      .has-columns.is-margin-small > .is-column.is-desktop-2 {
        width: 15.66667%; }
      .has-columns.is-margin-small > .is-column.is-desktop-3 {
        width: 24%; }
      .has-columns.is-margin-small > .is-column.is-desktop-4 {
        width: 32.33333%; }
      .has-columns.is-margin-small > .is-column.is-desktop-5 {
        width: 40.66667%; }
      .has-columns.is-margin-small > .is-column.is-desktop-6 {
        width: 49%; }
      .has-columns.is-margin-small > .is-column.is-desktop-7 {
        width: 57.33333%; }
      .has-columns.is-margin-small > .is-column.is-desktop-8 {
        width: 65.66667%; }
      .has-columns.is-margin-small > .is-column.is-desktop-9 {
        width: 74%; }
      .has-columns.is-margin-small > .is-column.is-desktop-10 {
        width: 82.33333%; }
      .has-columns.is-margin-small > .is-column.is-desktop-11 {
        width: 90.66667%; }
      .has-columns.is-margin-small > .is-column.is-desktop-12 {
        width: 99%; } }

.has-columns.is-margin-medium {
  margin: 0 -1%; }
  .has-columns.is-margin-medium > .is-column {
    margin: 0 1%; }
    .has-columns.is-margin-medium > .is-column.is-0 {
      width: -2%; }
    .has-columns.is-margin-medium > .is-column.is-1 {
      width: 6.33333%; }
    .has-columns.is-margin-medium > .is-column.is-2 {
      width: 14.66667%; }
    .has-columns.is-margin-medium > .is-column.is-3 {
      width: 23%; }
    .has-columns.is-margin-medium > .is-column.is-4 {
      width: 31.33333%; }
    .has-columns.is-margin-medium > .is-column.is-5 {
      width: 39.66667%; }
    .has-columns.is-margin-medium > .is-column.is-6 {
      width: 48%; }
    .has-columns.is-margin-medium > .is-column.is-7 {
      width: 56.33333%; }
    .has-columns.is-margin-medium > .is-column.is-8 {
      width: 64.66667%; }
    .has-columns.is-margin-medium > .is-column.is-9 {
      width: 73%; }
    .has-columns.is-margin-medium > .is-column.is-10 {
      width: 81.33333%; }
    .has-columns.is-margin-medium > .is-column.is-11 {
      width: 89.66667%; }
    .has-columns.is-margin-medium > .is-column.is-12 {
      width: 98%; }
    @media only screen and (min-width: 768px) {
      .has-columns.is-margin-medium > .is-column.is-mobile-0 {
        width: -2%; }
      .has-columns.is-margin-medium > .is-column.is-mobile-1 {
        width: 6.33333%; }
      .has-columns.is-margin-medium > .is-column.is-mobile-2 {
        width: 14.66667%; }
      .has-columns.is-margin-medium > .is-column.is-mobile-3 {
        width: 23%; }
      .has-columns.is-margin-medium > .is-column.is-mobile-4 {
        width: 31.33333%; }
      .has-columns.is-margin-medium > .is-column.is-mobile-5 {
        width: 39.66667%; }
      .has-columns.is-margin-medium > .is-column.is-mobile-6 {
        width: 48%; }
      .has-columns.is-margin-medium > .is-column.is-mobile-7 {
        width: 56.33333%; }
      .has-columns.is-margin-medium > .is-column.is-mobile-8 {
        width: 64.66667%; }
      .has-columns.is-margin-medium > .is-column.is-mobile-9 {
        width: 73%; }
      .has-columns.is-margin-medium > .is-column.is-mobile-10 {
        width: 81.33333%; }
      .has-columns.is-margin-medium > .is-column.is-mobile-11 {
        width: 89.66667%; }
      .has-columns.is-margin-medium > .is-column.is-mobile-12 {
        width: 98%; } }
    @media only screen and (min-width: 1025px) {
      .has-columns.is-margin-medium > .is-column.is-tablet-0 {
        width: -2%; }
      .has-columns.is-margin-medium > .is-column.is-tablet-1 {
        width: 6.33333%; }
      .has-columns.is-margin-medium > .is-column.is-tablet-2 {
        width: 14.66667%; }
      .has-columns.is-margin-medium > .is-column.is-tablet-3 {
        width: 23%; }
      .has-columns.is-margin-medium > .is-column.is-tablet-4 {
        width: 31.33333%; }
      .has-columns.is-margin-medium > .is-column.is-tablet-5 {
        width: 39.66667%; }
      .has-columns.is-margin-medium > .is-column.is-tablet-6 {
        width: 48%; }
      .has-columns.is-margin-medium > .is-column.is-tablet-7 {
        width: 56.33333%; }
      .has-columns.is-margin-medium > .is-column.is-tablet-8 {
        width: 64.66667%; }
      .has-columns.is-margin-medium > .is-column.is-tablet-9 {
        width: 73%; }
      .has-columns.is-margin-medium > .is-column.is-tablet-10 {
        width: 81.33333%; }
      .has-columns.is-margin-medium > .is-column.is-tablet-11 {
        width: 89.66667%; }
      .has-columns.is-margin-medium > .is-column.is-tablet-12 {
        width: 98%; } }
    @media only screen and (min-width: 1224px) {
      .has-columns.is-margin-medium > .is-column.is-desktop-0 {
        width: -2%; }
      .has-columns.is-margin-medium > .is-column.is-desktop-1 {
        width: 6.33333%; }
      .has-columns.is-margin-medium > .is-column.is-desktop-2 {
        width: 14.66667%; }
      .has-columns.is-margin-medium > .is-column.is-desktop-3 {
        width: 23%; }
      .has-columns.is-margin-medium > .is-column.is-desktop-4 {
        width: 31.33333%; }
      .has-columns.is-margin-medium > .is-column.is-desktop-5 {
        width: 39.66667%; }
      .has-columns.is-margin-medium > .is-column.is-desktop-6 {
        width: 48%; }
      .has-columns.is-margin-medium > .is-column.is-desktop-7 {
        width: 56.33333%; }
      .has-columns.is-margin-medium > .is-column.is-desktop-8 {
        width: 64.66667%; }
      .has-columns.is-margin-medium > .is-column.is-desktop-9 {
        width: 73%; }
      .has-columns.is-margin-medium > .is-column.is-desktop-10 {
        width: 81.33333%; }
      .has-columns.is-margin-medium > .is-column.is-desktop-11 {
        width: 89.66667%; }
      .has-columns.is-margin-medium > .is-column.is-desktop-12 {
        width: 98%; } }

.has-columns.is-margin-large {
  margin: 0 -1.5%; }
  .has-columns.is-margin-large > .is-column {
    margin: 0 1.5%; }
    .has-columns.is-margin-large > .is-column.is-0 {
      width: -3%; }
    .has-columns.is-margin-large > .is-column.is-1 {
      width: 5.33333%; }
    .has-columns.is-margin-large > .is-column.is-2 {
      width: 13.66667%; }
    .has-columns.is-margin-large > .is-column.is-3 {
      width: 22%; }
    .has-columns.is-margin-large > .is-column.is-4 {
      width: 30.33333%; }
    .has-columns.is-margin-large > .is-column.is-5 {
      width: 38.66667%; }
    .has-columns.is-margin-large > .is-column.is-6 {
      width: 47%; }
    .has-columns.is-margin-large > .is-column.is-7 {
      width: 55.33333%; }
    .has-columns.is-margin-large > .is-column.is-8 {
      width: 63.66667%; }
    .has-columns.is-margin-large > .is-column.is-9 {
      width: 72%; }
    .has-columns.is-margin-large > .is-column.is-10 {
      width: 80.33333%; }
    .has-columns.is-margin-large > .is-column.is-11 {
      width: 88.66667%; }
    .has-columns.is-margin-large > .is-column.is-12 {
      width: 97%; }
    @media only screen and (min-width: 768px) {
      .has-columns.is-margin-large > .is-column.is-mobile-0 {
        width: -3%; }
      .has-columns.is-margin-large > .is-column.is-mobile-1 {
        width: 5.33333%; }
      .has-columns.is-margin-large > .is-column.is-mobile-2 {
        width: 13.66667%; }
      .has-columns.is-margin-large > .is-column.is-mobile-3 {
        width: 22%; }
      .has-columns.is-margin-large > .is-column.is-mobile-4 {
        width: 30.33333%; }
      .has-columns.is-margin-large > .is-column.is-mobile-5 {
        width: 38.66667%; }
      .has-columns.is-margin-large > .is-column.is-mobile-6 {
        width: 47%; }
      .has-columns.is-margin-large > .is-column.is-mobile-7 {
        width: 55.33333%; }
      .has-columns.is-margin-large > .is-column.is-mobile-8 {
        width: 63.66667%; }
      .has-columns.is-margin-large > .is-column.is-mobile-9 {
        width: 72%; }
      .has-columns.is-margin-large > .is-column.is-mobile-10 {
        width: 80.33333%; }
      .has-columns.is-margin-large > .is-column.is-mobile-11 {
        width: 88.66667%; }
      .has-columns.is-margin-large > .is-column.is-mobile-12 {
        width: 97%; } }
    @media only screen and (min-width: 1025px) {
      .has-columns.is-margin-large > .is-column.is-tablet-0 {
        width: -3%; }
      .has-columns.is-margin-large > .is-column.is-tablet-1 {
        width: 5.33333%; }
      .has-columns.is-margin-large > .is-column.is-tablet-2 {
        width: 13.66667%; }
      .has-columns.is-margin-large > .is-column.is-tablet-3 {
        width: 22%; }
      .has-columns.is-margin-large > .is-column.is-tablet-4 {
        width: 30.33333%; }
      .has-columns.is-margin-large > .is-column.is-tablet-5 {
        width: 38.66667%; }
      .has-columns.is-margin-large > .is-column.is-tablet-6 {
        width: 47%; }
      .has-columns.is-margin-large > .is-column.is-tablet-7 {
        width: 55.33333%; }
      .has-columns.is-margin-large > .is-column.is-tablet-8 {
        width: 63.66667%; }
      .has-columns.is-margin-large > .is-column.is-tablet-9 {
        width: 72%; }
      .has-columns.is-margin-large > .is-column.is-tablet-10 {
        width: 80.33333%; }
      .has-columns.is-margin-large > .is-column.is-tablet-11 {
        width: 88.66667%; }
      .has-columns.is-margin-large > .is-column.is-tablet-12 {
        width: 97%; } }
    @media only screen and (min-width: 1224px) {
      .has-columns.is-margin-large > .is-column.is-desktop-0 {
        width: -3%; }
      .has-columns.is-margin-large > .is-column.is-desktop-1 {
        width: 5.33333%; }
      .has-columns.is-margin-large > .is-column.is-desktop-2 {
        width: 13.66667%; }
      .has-columns.is-margin-large > .is-column.is-desktop-3 {
        width: 22%; }
      .has-columns.is-margin-large > .is-column.is-desktop-4 {
        width: 30.33333%; }
      .has-columns.is-margin-large > .is-column.is-desktop-5 {
        width: 38.66667%; }
      .has-columns.is-margin-large > .is-column.is-desktop-6 {
        width: 47%; }
      .has-columns.is-margin-large > .is-column.is-desktop-7 {
        width: 55.33333%; }
      .has-columns.is-margin-large > .is-column.is-desktop-8 {
        width: 63.66667%; }
      .has-columns.is-margin-large > .is-column.is-desktop-9 {
        width: 72%; }
      .has-columns.is-margin-large > .is-column.is-desktop-10 {
        width: 80.33333%; }
      .has-columns.is-margin-large > .is-column.is-desktop-11 {
        width: 88.66667%; }
      .has-columns.is-margin-large > .is-column.is-desktop-12 {
        width: 97%; } }

.is-column.is-small {
  -webkit-flex: none;
      -ms-flex: none;
          flex: none;
  width: auto; }

@media only screen and (min-width: 768px) {
  .is-column.is-mobile-small {
    -webkit-box-flex: 0;
    -ms-flex: none;
    width: auto; } }

@media only screen and (min-width: 1025px) {
  .is-column.is-tablet-small {
    -webkit-flex: none;
        -ms-flex: none;
            flex: none;
    width: auto; } }

@media only screen and (min-width: 1224px) {
  .is-column.is-desktop-small {
    -webkit-flex: none;
        -ms-flex: none;
            flex: none;
    width: auto; } }

.is-column:nth-child(1) {
  -webkit-order: 11;
      -ms-flex-order: 11;
          order: 11; }
  .is-column:nth-child(1):nth-child(0) {
    -webkit-order: 20;
        -ms-flex-order: 20;
            order: 20; }

.is-column:nth-child(2) {
  -webkit-order: 21;
      -ms-flex-order: 21;
          order: 21; }
  .is-column:nth-child(2):nth-child(1) {
    -webkit-order: 30;
        -ms-flex-order: 30;
            order: 30; }

.is-column:nth-child(3) {
  -webkit-order: 31;
      -ms-flex-order: 31;
          order: 31; }
  .is-column:nth-child(3):nth-child(2) {
    -webkit-order: 40;
        -ms-flex-order: 40;
            order: 40; }

.is-column:nth-child(4) {
  -webkit-order: 41;
      -ms-flex-order: 41;
          order: 41; }
  .is-column:nth-child(4):nth-child(3) {
    -webkit-order: 50;
        -ms-flex-order: 50;
            order: 50; }

.is-column:nth-child(5) {
  -webkit-order: 51;
      -ms-flex-order: 51;
          order: 51; }
  .is-column:nth-child(5):nth-child(4) {
    -webkit-order: 60;
        -ms-flex-order: 60;
            order: 60; }

.is-column:nth-child(6) {
  -webkit-order: 61;
      -ms-flex-order: 61;
          order: 61; }
  .is-column:nth-child(6):nth-child(5) {
    -webkit-order: 70;
        -ms-flex-order: 70;
            order: 70; }

.is-column:nth-child(7) {
  -webkit-order: 71;
      -ms-flex-order: 71;
          order: 71; }
  .is-column:nth-child(7):nth-child(6) {
    -webkit-order: 80;
        -ms-flex-order: 80;
            order: 80; }

.is-column:nth-child(8) {
  -webkit-order: 81;
      -ms-flex-order: 81;
          order: 81; }
  .is-column:nth-child(8):nth-child(7) {
    -webkit-order: 90;
        -ms-flex-order: 90;
            order: 90; }

.is-column:nth-child(9) {
  -webkit-order: 91;
      -ms-flex-order: 91;
          order: 91; }
  .is-column:nth-child(9):nth-child(8) {
    -webkit-order: 100;
        -ms-flex-order: 100;
            order: 100; }

.is-column:nth-child(10) {
  -webkit-order: 101;
      -ms-flex-order: 101;
          order: 101; }
  .is-column:nth-child(10):nth-child(9) {
    -webkit-order: 110;
        -ms-flex-order: 110;
            order: 110; }

.is-column:nth-child(11) {
  -webkit-order: 111;
      -ms-flex-order: 111;
          order: 111; }
  .is-column:nth-child(11):nth-child(10) {
    -webkit-order: 120;
        -ms-flex-order: 120;
            order: 120; }

.is-column:nth-child(12) {
  -webkit-order: 121;
      -ms-flex-order: 121;
          order: 121; }
  .is-column:nth-child(12):nth-child(11) {
    -webkit-order: 130;
        -ms-flex-order: 130;
            order: 130; }

.is-column.is-nth-1 {
  -webkit-order: 10;
      -ms-flex-order: 10;
          order: 10; }
  .is-column.is-nth-1:nth-child(0) {
    -webkit-order: 20;
        -ms-flex-order: 20;
            order: 20; }

.is-column.is-nth-2 {
  -webkit-order: 20;
      -ms-flex-order: 20;
          order: 20; }
  .is-column.is-nth-2:nth-child(1) {
    -webkit-order: 30;
        -ms-flex-order: 30;
            order: 30; }

.is-column.is-nth-3 {
  -webkit-order: 30;
      -ms-flex-order: 30;
          order: 30; }
  .is-column.is-nth-3:nth-child(2) {
    -webkit-order: 40;
        -ms-flex-order: 40;
            order: 40; }

.is-column.is-nth-4 {
  -webkit-order: 40;
      -ms-flex-order: 40;
          order: 40; }
  .is-column.is-nth-4:nth-child(3) {
    -webkit-order: 50;
        -ms-flex-order: 50;
            order: 50; }

.is-column.is-nth-5 {
  -webkit-order: 50;
      -ms-flex-order: 50;
          order: 50; }
  .is-column.is-nth-5:nth-child(4) {
    -webkit-order: 60;
        -ms-flex-order: 60;
            order: 60; }

.is-column.is-nth-6 {
  -webkit-order: 60;
      -ms-flex-order: 60;
          order: 60; }
  .is-column.is-nth-6:nth-child(5) {
    -webkit-order: 70;
        -ms-flex-order: 70;
            order: 70; }

.is-column.is-nth-7 {
  -webkit-order: 70;
      -ms-flex-order: 70;
          order: 70; }
  .is-column.is-nth-7:nth-child(6) {
    -webkit-order: 80;
        -ms-flex-order: 80;
            order: 80; }

.is-column.is-nth-8 {
  -webkit-order: 80;
      -ms-flex-order: 80;
          order: 80; }
  .is-column.is-nth-8:nth-child(7) {
    -webkit-order: 90;
        -ms-flex-order: 90;
            order: 90; }

.is-column.is-nth-9 {
  -webkit-order: 90;
      -ms-flex-order: 90;
          order: 90; }
  .is-column.is-nth-9:nth-child(8) {
    -webkit-order: 100;
        -ms-flex-order: 100;
            order: 100; }

.is-column.is-nth-10 {
  -webkit-order: 100;
      -ms-flex-order: 100;
          order: 100; }
  .is-column.is-nth-10:nth-child(9) {
    -webkit-order: 110;
        -ms-flex-order: 110;
            order: 110; }

.is-column.is-nth-11 {
  -webkit-order: 110;
      -ms-flex-order: 110;
          order: 110; }
  .is-column.is-nth-11:nth-child(10) {
    -webkit-order: 120;
        -ms-flex-order: 120;
            order: 120; }

.is-column.is-nth-12 {
  -webkit-order: 120;
      -ms-flex-order: 120;
          order: 120; }
  .is-column.is-nth-12:nth-child(11) {
    -webkit-order: 130;
        -ms-flex-order: 130;
            order: 130; }

@media only screen and (min-width: 768px) {
  .is-column.is-mobile-nth-1 {
    -webkit-order: 10;
        -ms-flex-order: 10;
            order: 10; }
    .is-column.is-mobile-nth-1:nth-child(0) {
      -webkit-order: 20;
          -ms-flex-order: 20;
              order: 20; }
  .is-column.is-mobile-nth-2 {
    -webkit-order: 20;
        -ms-flex-order: 20;
            order: 20; }
    .is-column.is-mobile-nth-2:nth-child(1) {
      -webkit-order: 30;
          -ms-flex-order: 30;
              order: 30; }
  .is-column.is-mobile-nth-3 {
    -webkit-order: 30;
        -ms-flex-order: 30;
            order: 30; }
    .is-column.is-mobile-nth-3:nth-child(2) {
      -webkit-order: 40;
          -ms-flex-order: 40;
              order: 40; }
  .is-column.is-mobile-nth-4 {
    -webkit-order: 40;
        -ms-flex-order: 40;
            order: 40; }
    .is-column.is-mobile-nth-4:nth-child(3) {
      -webkit-order: 50;
          -ms-flex-order: 50;
              order: 50; }
  .is-column.is-mobile-nth-5 {
    -webkit-order: 50;
        -ms-flex-order: 50;
            order: 50; }
    .is-column.is-mobile-nth-5:nth-child(4) {
      -webkit-order: 60;
          -ms-flex-order: 60;
              order: 60; }
  .is-column.is-mobile-nth-6 {
    -webkit-order: 60;
        -ms-flex-order: 60;
            order: 60; }
    .is-column.is-mobile-nth-6:nth-child(5) {
      -webkit-order: 70;
          -ms-flex-order: 70;
              order: 70; }
  .is-column.is-mobile-nth-7 {
    -webkit-order: 70;
        -ms-flex-order: 70;
            order: 70; }
    .is-column.is-mobile-nth-7:nth-child(6) {
      -webkit-order: 80;
          -ms-flex-order: 80;
              order: 80; }
  .is-column.is-mobile-nth-8 {
    -webkit-order: 80;
        -ms-flex-order: 80;
            order: 80; }
    .is-column.is-mobile-nth-8:nth-child(7) {
      -webkit-order: 90;
          -ms-flex-order: 90;
              order: 90; }
  .is-column.is-mobile-nth-9 {
    -webkit-order: 90;
        -ms-flex-order: 90;
            order: 90; }
    .is-column.is-mobile-nth-9:nth-child(8) {
      -webkit-order: 100;
          -ms-flex-order: 100;
              order: 100; }
  .is-column.is-mobile-nth-10 {
    -webkit-order: 100;
        -ms-flex-order: 100;
            order: 100; }
    .is-column.is-mobile-nth-10:nth-child(9) {
      -webkit-order: 110;
          -ms-flex-order: 110;
              order: 110; }
  .is-column.is-mobile-nth-11 {
    -webkit-order: 110;
        -ms-flex-order: 110;
            order: 110; }
    .is-column.is-mobile-nth-11:nth-child(10) {
      -webkit-order: 120;
          -ms-flex-order: 120;
              order: 120; }
  .is-column.is-mobile-nth-12 {
    -webkit-order: 120;
        -ms-flex-order: 120;
            order: 120; }
    .is-column.is-mobile-nth-12:nth-child(11) {
      -webkit-order: 130;
          -ms-flex-order: 130;
              order: 130; } }

@media only screen and (min-width: 1025px) {
  .is-column.is-tablet-nth-1 {
    -webkit-order: 10;
        -ms-flex-order: 10;
            order: 10; }
    .is-column.is-tablet-nth-1:nth-child(0) {
      -webkit-order: 20;
          -ms-flex-order: 20;
              order: 20; }
  .is-column.is-tablet-nth-2 {
    -webkit-order: 20;
        -ms-flex-order: 20;
            order: 20; }
    .is-column.is-tablet-nth-2:nth-child(1) {
      -webkit-order: 30;
          -ms-flex-order: 30;
              order: 30; }
  .is-column.is-tablet-nth-3 {
    -webkit-order: 30;
        -ms-flex-order: 30;
            order: 30; }
    .is-column.is-tablet-nth-3:nth-child(2) {
      -webkit-order: 40;
          -ms-flex-order: 40;
              order: 40; }
  .is-column.is-tablet-nth-4 {
    -webkit-order: 40;
        -ms-flex-order: 40;
            order: 40; }
    .is-column.is-tablet-nth-4:nth-child(3) {
      -webkit-order: 50;
          -ms-flex-order: 50;
              order: 50; }
  .is-column.is-tablet-nth-5 {
    -webkit-order: 50;
        -ms-flex-order: 50;
            order: 50; }
    .is-column.is-tablet-nth-5:nth-child(4) {
      -webkit-order: 60;
          -ms-flex-order: 60;
              order: 60; }
  .is-column.is-tablet-nth-6 {
    -webkit-order: 60;
        -ms-flex-order: 60;
            order: 60; }
    .is-column.is-tablet-nth-6:nth-child(5) {
      -webkit-order: 70;
          -ms-flex-order: 70;
              order: 70; }
  .is-column.is-tablet-nth-7 {
    -webkit-order: 70;
        -ms-flex-order: 70;
            order: 70; }
    .is-column.is-tablet-nth-7:nth-child(6) {
      -webkit-order: 80;
          -ms-flex-order: 80;
              order: 80; }
  .is-column.is-tablet-nth-8 {
    -webkit-order: 80;
        -ms-flex-order: 80;
            order: 80; }
    .is-column.is-tablet-nth-8:nth-child(7) {
      -webkit-order: 90;
          -ms-flex-order: 90;
              order: 90; }
  .is-column.is-tablet-nth-9 {
    -webkit-order: 90;
        -ms-flex-order: 90;
            order: 90; }
    .is-column.is-tablet-nth-9:nth-child(8) {
      -webkit-order: 100;
          -ms-flex-order: 100;
              order: 100; }
  .is-column.is-tablet-nth-10 {
    -webkit-order: 100;
        -ms-flex-order: 100;
            order: 100; }
    .is-column.is-tablet-nth-10:nth-child(9) {
      -webkit-order: 110;
          -ms-flex-order: 110;
              order: 110; }
  .is-column.is-tablet-nth-11 {
    -webkit-order: 110;
        -ms-flex-order: 110;
            order: 110; }
    .is-column.is-tablet-nth-11:nth-child(10) {
      -webkit-order: 120;
          -ms-flex-order: 120;
              order: 120; }
  .is-column.is-tablet-nth-12 {
    -webkit-order: 120;
        -ms-flex-order: 120;
            order: 120; }
    .is-column.is-tablet-nth-12:nth-child(11) {
      -webkit-order: 130;
          -ms-flex-order: 130;
              order: 130; } }

@media only screen and (min-width: 1224px) {
  .is-column.is-desktop-nth-1 {
    -webkit-order: 10;
        -ms-flex-order: 10;
            order: 10; }
    .is-column.is-desktop-nth-1:nth-child(0) {
      -webkit-order: 20;
          -ms-flex-order: 20;
              order: 20; }
  .is-column.is-desktop-nth-2 {
    -webkit-order: 20;
        -ms-flex-order: 20;
            order: 20; }
    .is-column.is-desktop-nth-2:nth-child(1) {
      -webkit-order: 30;
          -ms-flex-order: 30;
              order: 30; }
  .is-column.is-desktop-nth-3 {
    -webkit-order: 30;
        -ms-flex-order: 30;
            order: 30; }
    .is-column.is-desktop-nth-3:nth-child(2) {
      -webkit-order: 40;
          -ms-flex-order: 40;
              order: 40; }
  .is-column.is-desktop-nth-4 {
    -webkit-order: 40;
        -ms-flex-order: 40;
            order: 40; }
    .is-column.is-desktop-nth-4:nth-child(3) {
      -webkit-order: 50;
          -ms-flex-order: 50;
              order: 50; }
  .is-column.is-desktop-nth-5 {
    -webkit-order: 50;
        -ms-flex-order: 50;
            order: 50; }
    .is-column.is-desktop-nth-5:nth-child(4) {
      -webkit-order: 60;
          -ms-flex-order: 60;
              order: 60; }
  .is-column.is-desktop-nth-6 {
    -webkit-order: 60;
        -ms-flex-order: 60;
            order: 60; }
    .is-column.is-desktop-nth-6:nth-child(5) {
      -webkit-order: 70;
          -ms-flex-order: 70;
              order: 70; }
  .is-column.is-desktop-nth-7 {
    -webkit-order: 70;
        -ms-flex-order: 70;
            order: 70; }
    .is-column.is-desktop-nth-7:nth-child(6) {
      -webkit-order: 80;
          -ms-flex-order: 80;
              order: 80; }
  .is-column.is-desktop-nth-8 {
    -webkit-order: 80;
        -ms-flex-order: 80;
            order: 80; }
    .is-column.is-desktop-nth-8:nth-child(7) {
      -webkit-order: 90;
          -ms-flex-order: 90;
              order: 90; }
  .is-column.is-desktop-nth-9 {
    -webkit-order: 90;
        -ms-flex-order: 90;
            order: 90; }
    .is-column.is-desktop-nth-9:nth-child(8) {
      -webkit-order: 100;
          -ms-flex-order: 100;
              order: 100; }
  .is-column.is-desktop-nth-10 {
    -webkit-order: 100;
        -ms-flex-order: 100;
            order: 100; }
    .is-column.is-desktop-nth-10:nth-child(9) {
      -webkit-order: 110;
          -ms-flex-order: 110;
              order: 110; }
  .is-column.is-desktop-nth-11 {
    -webkit-order: 110;
        -ms-flex-order: 110;
            order: 110; }
    .is-column.is-desktop-nth-11:nth-child(10) {
      -webkit-order: 120;
          -ms-flex-order: 120;
              order: 120; }
  .is-column.is-desktop-nth-12 {
    -webkit-order: 120;
        -ms-flex-order: 120;
            order: 120; }
    .is-column.is-desktop-nth-12:nth-child(11) {
      -webkit-order: 130;
          -ms-flex-order: 130;
              order: 130; } }

.is-column.is-padding-small {
  padding: 0 5px; }

.is-column.is-padding-medium {
  padding: 0 15px; }

.is-column.is-padding-large {
  padding: 0 25px; }

@media only screen and (min-width: 768px) {
  .is-column.is-mobile-padding-small {
    padding: 0 5px; }
  .is-column.is-mobile-padding-medium {
    padding: 0 15px; }
  .is-column.is-mobile-padding-large {
    padding: 0 25px; } }

@media only screen and (min-width: 1025px) {
  .is-column.is-tablet-padding-small {
    padding: 0 5px; }
  .is-column.is-table-padding-medium {
    padding: 0 15px; }
  .is-column.is-table-padding-large {
    padding: 0 25px; } }

@media only screen and (min-width: 1224px) {
  .is-column.is-desktop-padding-small {
    padding: 0 5px; }
  .is-column.is-desktop-padding-medium {
    padding: 0 15px; }
  .is-column.is-desktop-padding-large {
    padding: 0 25px; } }

.is-btn {
  color: #ffffff;
  background: #1f2b4a;
  padding: 15px 25px;
  font-size: 19.2px;
  border: 2px solid #1f2b4a;
  outline: 0;
  text-decoration: none;
  margin-bottom: 10px;
  display: inline-block;
  cursor: pointer;
  border-radius: 30px; }
  @media only screen and (min-width: 1025px) {
    .is-btn {
      font-size: 24px; } }
  .is-btn else {
    border-radius: "half"; }
  .is-btn:hover {
    color: #ffffff;
    background: #101626;
    border-color: #101626; }
  .is-btn:focus, .is-btn:active {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05); }
  .is-btn.is-block {
    display: block; }
  .is-btn.is-fullwidth {
    width: 100%; }
  .is-btn.is-small {
    padding: 5px 10px;
    font-size: 14.4px;
    border-radius: 25px; }
    @media only screen and (min-width: 1025px) {
      .is-btn.is-small {
        font-size: 18px; } }
  .is-btn.is-large {
    padding: 25px 35px;
    font-size: 27.2px;
    border-radius: 45px; }
    @media only screen and (min-width: 1025px) {
      .is-btn.is-large {
        font-size: 34px; } }
  .is-btn.is-primary {
    background: #1ef1b7;
    border-color: #1ef1b7;
    color: #1f2b4a; }
    .is-btn.is-primary:hover {
      background: #0dcf9a;
      border-color: #0dcf9a;
      color: #1f2b4a; }
  .is-btn.is-secondary {
    background: #1f2b4a;
    border-color: #1f2b4a;
    color: #ffffff; }
    .is-btn.is-secondary:hover {
      background: #101626;
      border-color: #101626;
      color: #ffffff; }
  .is-btn.is-glow {
    box-shadow: 0px 0px 10px 0px #1f2b4a; }
    .is-btn.is-glow.is-primary {
      box-shadow: 0px 0px 10px 0px #1ef1b7; }
    .is-btn.is-glow.is-secondary {
      box-shadow: 0px 0px 10px 0px #1f2b4a; }
  .is-btn.is-outline {
    background: transparent;
    border: 2px solid #1f2b4a;
    color: #1f2b4a; }
    .is-btn.is-outline:hover {
      color: #ffffff;
      background: #1f2b4a;
      border-color: #1f2b4a; }
    .is-btn.is-outline.is-primary {
      border-color: #1ef1b7;
      color: #1ef1b7; }
      .is-btn.is-outline.is-primary:hover {
        background: #1ef1b7;
        border-color: #1ef1b7;
        color: #1f2b4a; }
    .is-btn.is-outline.is-secondary {
      border-color: #1f2b4a;
      color: #1f2b4a; }
      .is-btn.is-outline.is-secondary:hover {
        background: #1f2b4a;
        border-color: #1f2b4a;
        color: #ffffff; }
  .is-btn.is-grouped {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-right: 0; }
    .is-btn.is-grouped.is-outline {
      border-right-width: 0; }
    .is-btn.is-grouped + input[type="text"], .is-btn.is-grouped + input[type="date"], .is-btn.is-grouped + input[type="email"], .is-btn.is-grouped + input[type="number"],
    .is-btn.is-grouped input[type="search"], .is-btn.is-grouped + input[type="tel"], .is-btn.is-grouped + input[type="url"], .is-btn.is-grouped + select, .is-btn.is-grouped + .is-btn {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      margin-left: 0; }
  .is-btn.is-form {
    padding: 0 25px;
    height: 50px;
    font-size: 18px;
    margin-bottom: 0;
    box-sizing: content-box;
    vertical-align: top;
    line-height: 50px; }
    .is-btn.is-form.is-grouped {
      margin-right: -5px; }
  .is-btn.is-circle {
    padding: 0;
    border-radius: 50%;
    vertical-align: top;
    position: relative;
    overflow: hidden;
    height: 60px;
    width: 60px; }
    .is-btn.is-circle > * {
      position: absolute;
      max-height: 100%;
      max-width: 100%;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%); }
    .is-btn.is-circle.is-small {
      height: 45px;
      width: 45px; }
    .is-btn.is-circle.is-large {
      height: 80px;
      width: 80px; }

label {
  color: #191919;
  font-size: 24px;
  margin-top: 15px;
  display: inline-block;
  margin-right: 15px;
  cursor: pointer; }
  label.is-error {
    color: #e74c3c; }
  label.is-danger {
    color: #f1c40f; }
  label.is-success {
    color: #2ecc71; }
  label.is-info {
    color: #3498db; }
  label.is-top {
    display: block;
    margin: 15px 0 10px; }

input[type="text"], input[type="date"], input[type="email"], input[type="number"],
input[type="search"], input[type="tel"], input[type="url"], select, textarea {
  color: #191919;
  background: #ffffff;
  border: 2px solid #1f2b4a;
  padding: 0 25px;
  height: 50px;
  box-sizing: content-box;
  outline: 0;
  font-size: 18px;
  border-radius: 45px; }
  input[type="text"] else, input[type="date"] else, input[type="email"] else, input[type="number"] else,
  input[type="search"] else, input[type="tel"] else, input[type="url"] else, select else, textarea else {
    border-radius: "half"; }
  input[type="text"]:focus, input[type="text"]:active, input[type="date"]:focus, input[type="date"]:active, input[type="email"]:focus, input[type="email"]:active, input[type="number"]:focus, input[type="number"]:active,
  input[type="search"]:focus,
  input[type="search"]:active, input[type="tel"]:focus, input[type="tel"]:active, input[type="url"]:focus, input[type="url"]:active, select:focus, select:active, textarea:focus, textarea:active {
    border-color: #1ef1b7; }
  input[type="text"].is-glow, input[type="date"].is-glow, input[type="email"].is-glow, input[type="number"].is-glow,
  input[type="search"].is-glow, input[type="tel"].is-glow, input[type="url"].is-glow, select.is-glow, textarea.is-glow {
    box-shadow: 0px 0px 10px 0px #1f2b4a; }
    input[type="text"].is-glow:focus, input[type="text"].is-glow:active, input[type="date"].is-glow:focus, input[type="date"].is-glow:active, input[type="email"].is-glow:focus, input[type="email"].is-glow:active, input[type="number"].is-glow:focus, input[type="number"].is-glow:active,
    input[type="search"].is-glow:focus,
    input[type="search"].is-glow:active, input[type="tel"].is-glow:focus, input[type="tel"].is-glow:active, input[type="url"].is-glow:focus, input[type="url"].is-glow:active, select.is-glow:focus, select.is-glow:active, textarea.is-glow:focus, textarea.is-glow:active {
      box-shadow: 0px 0px 10px 0px #1ef1b7; }
  input[type="text"].is-transparent, input[type="date"].is-transparent, input[type="email"].is-transparent, input[type="number"].is-transparent,
  input[type="search"].is-transparent, input[type="tel"].is-transparent, input[type="url"].is-transparent, select.is-transparent, textarea.is-transparent {
    background: transparent; }
  input[type="text"].is-line, input[type="date"].is-line, input[type="email"].is-line, input[type="number"].is-line,
  input[type="search"].is-line, input[type="tel"].is-line, input[type="url"].is-line, select.is-line, textarea.is-line {
    border: 0;
    border-bottom: 2px solid #1f2b4a;
    border-radius: 0; }
    input[type="text"].is-line:focus, input[type="text"].is-line:active, input[type="date"].is-line:focus, input[type="date"].is-line:active, input[type="email"].is-line:focus, input[type="email"].is-line:active, input[type="number"].is-line:focus, input[type="number"].is-line:active,
    input[type="search"].is-line:focus,
    input[type="search"].is-line:active, input[type="tel"].is-line:focus, input[type="tel"].is-line:active, input[type="url"].is-line:focus, input[type="url"].is-line:active, select.is-line:focus, select.is-line:active, textarea.is-line:focus, textarea.is-line:active {
      border-color: #1ef1b7; }
    input[type="text"].is-line.is-transparent, input[type="date"].is-line.is-transparent, input[type="email"].is-line.is-transparent, input[type="number"].is-line.is-transparent,
    input[type="search"].is-line.is-transparent, input[type="tel"].is-line.is-transparent, input[type="url"].is-line.is-transparent, select.is-line.is-transparent, textarea.is-line.is-transparent {
      padding-left: 0; }
  input[type="text"].is-error, input[type="date"].is-error, input[type="email"].is-error, input[type="number"].is-error,
  input[type="search"].is-error, input[type="tel"].is-error, input[type="url"].is-error, select.is-error, textarea.is-error {
    border-color: #e74c3c; }
  input[type="text"].is-danger, input[type="date"].is-danger, input[type="email"].is-danger, input[type="number"].is-danger,
  input[type="search"].is-danger, input[type="tel"].is-danger, input[type="url"].is-danger, select.is-danger, textarea.is-danger {
    border-color: #f1c40f; }
  input[type="text"].is-success, input[type="date"].is-success, input[type="email"].is-success, input[type="number"].is-success,
  input[type="search"].is-success, input[type="tel"].is-success, input[type="url"].is-success, select.is-success, textarea.is-success {
    border-color: #2ecc71; }
  input[type="text"].is-info, input[type="date"].is-info, input[type="email"].is-info, input[type="number"].is-info,
  input[type="search"].is-info, input[type="tel"].is-info, input[type="url"].is-info, select.is-info, textarea.is-info {
    border-color: #3498db; }

input[type="text"].is-grouped, input[type="date"].is-grouped, input[type="email"].is-grouped, input[type="number"].is-grouped,
input[type="search"].is-grouped, input[type="tel"].is-grouped, input[type="url"].is-grouped, select.is-grouped {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: 0;
  border-right: 0;
  margin: 0;
  vertical-align: top; }
  input[type="text"].is-grouped.is-outline, input[type="date"].is-grouped.is-outline, input[type="email"].is-grouped.is-outline, input[type="number"].is-grouped.is-outline,
  input[type="search"].is-grouped.is-outline, input[type="tel"].is-grouped.is-outline, input[type="url"].is-grouped.is-outline, select.is-grouped.is-outline {
    border-right-width: 0; }
  input[type="text"].is-grouped + input[type="text"], input[type="text"].is-grouped + input[type="date"], input[type="text"].is-grouped + input[type="email"], input[type="text"].is-grouped + input[type="number"],
  input[type="text"].is-grouped input[type="search"], input[type="text"].is-grouped + input[type="tel"], input[type="text"].is-grouped + input[type="url"], input[type="text"].is-grouped + select, input[type="text"].is-grouped + .is-btn, input[type="date"].is-grouped + input[type="text"], input[type="date"].is-grouped + input[type="date"], input[type="date"].is-grouped + input[type="email"], input[type="date"].is-grouped + input[type="number"],
  input[type="date"].is-grouped input[type="search"], input[type="date"].is-grouped + input[type="tel"], input[type="date"].is-grouped + input[type="url"], input[type="date"].is-grouped + select, input[type="date"].is-grouped + .is-btn, input[type="email"].is-grouped + input[type="text"], input[type="email"].is-grouped + input[type="date"], input[type="email"].is-grouped + input[type="email"], input[type="email"].is-grouped + input[type="number"],
  input[type="email"].is-grouped input[type="search"], input[type="email"].is-grouped + input[type="tel"], input[type="email"].is-grouped + input[type="url"], input[type="email"].is-grouped + select, input[type="email"].is-grouped + .is-btn, input[type="number"].is-grouped + input[type="text"], input[type="number"].is-grouped + input[type="date"], input[type="number"].is-grouped + input[type="email"], input[type="number"].is-grouped + input[type="number"],
  input[type="number"].is-grouped input[type="search"], input[type="number"].is-grouped + input[type="tel"], input[type="number"].is-grouped + input[type="url"], input[type="number"].is-grouped + select, input[type="number"].is-grouped + .is-btn,
  input[type="search"].is-grouped + input[type="text"],
  input[type="search"].is-grouped + input[type="date"],
  input[type="search"].is-grouped + input[type="email"],
  input[type="search"].is-grouped + input[type="number"],
  input[type="search"].is-grouped input[type="search"],
  input[type="search"].is-grouped + input[type="tel"],
  input[type="search"].is-grouped + input[type="url"],
  input[type="search"].is-grouped + select,
  input[type="search"].is-grouped + .is-btn, input[type="tel"].is-grouped + input[type="text"], input[type="tel"].is-grouped + input[type="date"], input[type="tel"].is-grouped + input[type="email"], input[type="tel"].is-grouped + input[type="number"],
  input[type="tel"].is-grouped input[type="search"], input[type="tel"].is-grouped + input[type="tel"], input[type="tel"].is-grouped + input[type="url"], input[type="tel"].is-grouped + select, input[type="tel"].is-grouped + .is-btn, input[type="url"].is-grouped + input[type="text"], input[type="url"].is-grouped + input[type="date"], input[type="url"].is-grouped + input[type="email"], input[type="url"].is-grouped + input[type="number"],
  input[type="url"].is-grouped input[type="search"], input[type="url"].is-grouped + input[type="tel"], input[type="url"].is-grouped + input[type="url"], input[type="url"].is-grouped + select, input[type="url"].is-grouped + .is-btn, select.is-grouped + input[type="text"], select.is-grouped + input[type="date"], select.is-grouped + input[type="email"], select.is-grouped + input[type="number"],
  select.is-grouped input[type="search"], select.is-grouped + input[type="tel"], select.is-grouped + input[type="url"], select.is-grouped + select, select.is-grouped + .is-btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: 0; }

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  padding-right: 50px;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'%3E%3Cpath fill='#1ef1b7' d='M24,36c-0.512,0-1.023-0.195-1.414-0.586L1.172,14L4,11.171l20,20l20-20L46.828,14L25.414,35.414,C25.023,35.805,24.512,36,24,36z'%3E%3C/path%3E%3C/svg%3E");
  background-size: 50px 20px;
  background-repeat: no-repeat;
  background-position: center right;
  box-sizing: content-box;
  cursor: pointer; }
  select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000; }
  select::-ms-expand {
    display: none; }
  select.is-grouped {
    margin-right: -5px; }

textarea {
  border-radius: 5px;
  max-width: 100%;
  width: 100%;
  min-height: 300px;
  box-shadow: none;
  box-sizing: border-box; }

input[type="radio"], input[type="checkbox"] {
  display: none;
  height: 0;
  width: 0;
  opacity: 0; }
  input[type="radio"] + label, input[type="checkbox"] + label {
    display: inline-block;
    min-width: 150px; }
    input[type="radio"] + label span, input[type="checkbox"] + label span {
      display: inline-block;
      position: relative;
      margin-right: 15px;
      background: #ffffff;
      border: 2px solid #1f2b4a; }
  input[type="radio"].is-error + label span, input[type="checkbox"].is-error + label span {
    border-color: #e74c3c; }
  input[type="radio"].is-danger + label span, input[type="checkbox"].is-danger + label span {
    border-color: #f1c40f; }
  input[type="radio"].is-success + label span, input[type="checkbox"].is-success + label span {
    border-color: #2ecc71; }
  input[type="radio"].is-info + label span, input[type="checkbox"].is-info + label span {
    border-color: #3498db; }
  input[type="radio"].is-transparent + label span, input[type="checkbox"].is-transparent + label span {
    background: transparent; }

input[type="radio"]:not(.is-trigger) + label span {
  height: 25px;
  width: 25px;
  border-radius: 12.5px; }

input[type="radio"]:not(.is-trigger):checked + label span:before {
  position: absolute;
  content: "";
  margin: 3px;
  height: 15px;
  width: 15px;
  border-radius: 10px;
  background: #1ef1b7; }

input[type="radio"]:not(.is-trigger).is-glow:checked + label span:before {
  box-shadow: 0px 0px 10px 0px #1ef1b7; }

input[type="checkbox"]:not(.is-trigger) + label span {
  height: 25px;
  width: 25px;
  border-radius: 5px; }

input[type="checkbox"]:not(.is-trigger):checked + label span:before {
  position: absolute;
  content: "";
  background: #1ef1b7;
  height: 2px;
  bottom: 6px;
  width: 10px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg); }

input[type="checkbox"]:not(.is-trigger):checked + label span:after {
  position: absolute;
  content: "";
  background: #1ef1b7;
  height: 2px;
  bottom: 8px;
  width: 17px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  left: 5px; }

input[type="checkbox"]:not(.is-trigger).is-glow:checked + label span:before, input[type="checkbox"]:not(.is-trigger).is-glow:checked + label span:after {
  box-shadow: 0px 0px 10px 0px #1ef1b7; }

input[type="checkbox"].is-trigger + label span, input[type="radio"].is-trigger + label span {
  position: relative;
  height: 10px;
  width: 50px;
  border-radius: 5px;
  background: #1f2b4a;
  border: 0; }
  input[type="checkbox"].is-trigger + label span:before, input[type="radio"].is-trigger + label span:before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -12.5px;
    height: 25px;
    width: 25px;
    border-radius: 12.5px;
    background: #1f2b4a;
    border: 0; }

input[type="checkbox"].is-trigger:checked + label span:before, input[type="radio"].is-trigger:checked + label span:before {
  left: 25px;
  background: #1ef1b7;
  border: 0;
  box-shadow: 0px 0px 10px 0px #1ef1b7; }

::-webkit-input-placeholder {
  color: #1f2b4a; }

::-moz-placeholder {
  color: #1f2b4a; }

:-ms-input-placeholder {
  color: #1f2b4a; }

:-moz-placeholder {
  color: #1f2b4a; }

::-moz-placeholder {
  opacity: 1; }

table {
  border-collapse: collapse;
  color: #191919;
  width: 100%; }

td, th {
  text-align: left;
  padding: 15px 25px;
  border: 2px solid #1f2b4a; }

th {
  color: #1ef1b7;
  background: #1f2b4a; }

.is-notification {
  position: relative;
  border-radius: 5px;
  background: #eeeeee;
  padding: 25px;
  padding-right: 35px;
  margin: 0 0 25px; }
  .is-notification.is-primary {
    background-color: #1ef1b7;
    color: #076f52; }
    .is-notification.is-primary > * {
      color: #076f52; }
  .is-notification.is-secondary {
    background-color: #1f2b4a;
    color: black; }
    .is-notification.is-secondary > * {
      color: black; }
  .is-notification.is-error {
    background-color: #e74c3c;
    color: #7b190f; }
    .is-notification.is-error > * {
      color: #7b190f; }
  .is-notification.is-danger {
    background-color: #f1c40f;
    color: #614f06; }
    .is-notification.is-danger > * {
      color: #614f06; }
  .is-notification.is-success {
    background-color: #2ecc71;
    color: #124f2c; }
    .is-notification.is-success > * {
      color: #124f2c; }
  .is-notification.is-info {
    background-color: #3498db;
    color: #124364; }
    .is-notification.is-info > * {
      color: #124364; }
  .is-notification.is-white {
    background-color: #ffffff;
    color: #b3b3b3; }
    .is-notification.is-white > * {
      color: #b3b3b3; }
  .is-notification.is-black {
    background-color: #191919;
    color: black; }
    .is-notification.is-black > * {
      color: black; }
  .is-notification .is-close {
    height: 25px;
    width: 25px;
    background: rgba(25, 25, 25, 0.25);
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px; }
    .is-notification .is-close:before, .is-notification .is-close:after {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      margin-top: -1px;
      margin-left: -5px;
      height: 2px;
      width: 10px;
      background: #ffffff; }
    .is-notification .is-close:before {
      -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
              transform: rotate(45deg); }
    .is-notification .is-close:after {
      -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
              transform: rotate(-45deg); }

.has-tooltip .is-tooltip {
  opacity: 0;
  pointer-events: none;
  font-size: 14px;
  color: #1f2b4a;
  max-width: 200px;
  padding: 10px;
  border-radius: 5px;
  background: rgba(30, 241, 183, 0.9);
  position: absolute;
  -webkit-transform: translate(-50%, -100%);
      -ms-transform: translate(-50%, -100%);
          transform: translate(-50%, -100%); }
  .has-tooltip .is-tooltip:before {
    content: "";
    display: block;
    position: absolute;
    bottom: -5px;
    left: 50%;
    margin-left: 5px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    border-color: #1ef1b7 transparent transparent transparent;
    opacity: 0.9; }

.has-tooltip:hover .is-tooltip, .has-tooltip:focus .is-tooltip {
  opacity: 1;
  pointer-events: all; }

.is-tabmenu {
  margin: 0 0 25px; }
  .is-tabmenu .is-tabmenu-navigation {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-align-items: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-align-content: flex-end;
        -ms-flex-line-pack: end;
            align-content: flex-end;
    margin: 0;
    padding: 0;
    list-style: none;
    border-bottom: 2px solid #1f2b4a; }
    .is-tabmenu .is-tabmenu-navigation > li {
      -ms-flex-preferred-size: 0;
      -webkit-flex-basis: 0;
              flex-basis: 0;
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      -ms-flex-negative: 1;
      -webkit-flex-shrink: 1;
              flex-shrink: 1;
      margin: 0 5px 0 0;
      padding: 5px;
      border: 2px solid #1f2b4a;
      border-bottom: none;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      background: #ffffff; }
  .is-tabmenu .is-tabmenu-content {
    background: #ffffff;
    padding: 15px;
    border: 2px solid #1f2b4a;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top: 0; }

.is-accordion {
  margin: 0 0 25px; }
  .is-accordion .is-accordion-trigger {
    position: relative;
    background: #1f2b4a;
    border: 0;
    padding: 10px 25px;
    border-radius: 0;
    cursor: pointer; }
    .is-accordion .is-accordion-trigger > * {
      margin: 0;
      color: #ffffff; }
    .is-accordion .is-accordion-trigger:before, .is-accordion .is-accordion-trigger:after {
      content: "";
      display: block;
      position: absolute;
      background: #ffffff;
      height: 2px;
      width: 15px;
      top: 50%;
      margin-top: 1px; }
    .is-accordion .is-accordion-trigger:before {
      -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
              transform: rotate(45deg);
      right: 36px; }
    .is-accordion .is-accordion-trigger:after {
      -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
              transform: rotate(-45deg);
      right: 25px; }
  .is-accordion .is-accordion-content {
    padding: 10px 25px;
    border: 2px solid #1f2b4a;
    background: #ffffff;
    border-radius: 0; }
    .is-accordion .is-accordion-content > *:last-child {
      margin-bottom: 0; }

.is-modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  z-index: 999;
  background: radial-gradient(ellipse at center, rgba(25, 25, 25, 0.5) 0%, rgba(25, 25, 25, 0.8) 100%); }
  .is-modal else {
    background: rgba(25, 25, 25, 0.8); }
  .is-modal .is-modal-content {
    background: #ffffff;
    border: 2px solid #1f2b4a;
    border-radius: 5px;
    padding: 15px;
    margin: 25px auto 0;
    max-width: 400px; }
    .is-modal .is-modal-content > * {
      margin-bottom: 0; }
  .is-modal .is-modal-close {
    position: fixed;
    display: block;
    top: 15px;
    right: 15px;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    border: 0;
    background: #1ef1b7; }
    .is-modal .is-modal-close:hover {
      background: #1f2b4a; }
    .is-modal .is-modal-close:before, .is-modal .is-modal-close:after {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      margin-top: -1px;
      margin-left: -10px;
      height: 2px;
      width: 20px;
      background: #ffffff; }
    .is-modal .is-modal-close:before {
      -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
              transform: rotate(45deg); }
    .is-modal .is-modal-close:after {
      -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
              transform: rotate(-45deg); }

* {
  box-sizing: border-box; }

body {
  font-family: "Open Sans", sans-serif; }

.is-transition-short, .is-btn, input[type="checkbox"].is-trigger + label span:before, input[type="radio"].is-trigger + label span:before {
  transition: all 0.2s ease; }

.is-transition-medium {
  transition: all 0.5s ease; }

.is-transition-long {
  transition: all 1s ease; }

.is-disabled {
  opacity: 0.8;
  pointer-events: none; }

.clearfix:after {
  content: ".";
  clear: both;
  display: block;
  visibility: hidden;
  height: 0px; }

img, svg {
  max-width: 100%; }

hr {
  border: 0;
  background-color: #1ef1b7;
  height: 1px;
  margin: 25px 0; }
  hr.is-primary {
    background-color: #1ef1b7; }
  hr.is-secondary {
    background-color: #1f2b4a; }
  hr.is-error {
    background-color: #e74c3c; }
  hr.is-danger {
    background-color: #f1c40f; }
  hr.is-success {
    background-color: #2ecc71; }
  hr.is-info {
    background-color: #3498db; }
  hr.is-white {
    background-color: #ffffff; }
  hr.is-black {
    background-color: #191919; }

::-moz-selection {
  background: #1ef1b7;
  color: #ffffff;
  text-shadow: none; }

::selection {
  background: #1ef1b7;
  color: #ffffff;
  text-shadow: none; }
