label {
  color: $is-label-color;
  font-size: $is-label-fontsize;
  margin-top: 15px;
  display: inline-block;
  margin-right: 15px;
  cursor: pointer;

  &.is-error { color: $color-error; }
  &.is-danger { color: $color-danger; }
  &.is-success { color: $color-success; }
  &.is-info { color: $color-info; }

  &.is-top {
    display: block;
    margin: 15px 0 10px;
  }
}

input[type="text"], input[type="date"], input[type="email"], input[type="number"],
input[type="search"], input[type="tel"], input[type="url"], select, textarea {
  color: $is-input-color;
  background: $is-input-background;
  border: $border-width solid $border-color;
  padding: $is-input-padding;
  height: $is-input-height;
  box-sizing: content-box;
  outline: 0;
  font-size: $is-input-fontsize;
  @if $is-input-border-radius == "half" {
    border-radius: 45px;
  } else {
    border-radius: $is-input-border-radius;
  }

  &:focus, &:active {
    border-color: $is-input-border-color-focus;
  }

  &.is-glow {
    box-shadow: $is-input-checked-glow-factor $border-color;
    &:focus, &:active { box-shadow: $is-input-checked-glow-factor $is-input-border-color-focus; }
  }

  &.is-transparent {
    background: transparent;
  }

  &.is-line {
    border: 0;
    border-bottom: $border-width solid $border-color;
    border-radius: 0;

    &:focus, &:active {
      border-color: $is-input-border-color-focus;
    }

    &.is-transparent {
      padding-left: 0;
    }
  }

  &.is-error { border-color: $color-error; }
  &.is-danger { border-color: $color-danger; }
  &.is-success { border-color: $color-success; }
  &.is-info { border-color: $color-info; }
}

input[type="text"], input[type="date"], input[type="email"], input[type="number"],
input[type="search"], input[type="tel"], input[type="url"], select {
  &.is-grouped {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-right: 0;
    border-right: 0;
    margin: 0;
    vertical-align: top;

    &.is-outline {
      border-right-width: 0;
    }

    + input[type="text"], + input[type="date"], + input[type="email"], + input[type="number"],
    input[type="search"], + input[type="tel"], + input[type="url"], + select, + .is-btn {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      margin-left: 0;
    }
  }
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  padding-right: 50px;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'%3E%3Cpath fill='#{$is-select-arrow-color}' d='M24,36c-0.512,0-1.023-0.195-1.414-0.586L1.172,14L4,11.171l20,20l20-20L46.828,14L25.414,35.414,C25.023,35.805,24.512,36,24,36z'%3E%3C/path%3E%3C/svg%3E");
  background-size: 50px 20px;
  background-repeat: no-repeat;
  background-position: center right;
  box-sizing: content-box;
  cursor: pointer;

  &:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
  }
  &::-ms-expand {
    display: none;
  }

  &.is-grouped { margin-right: -5px; }
}

textarea {
  border-radius: $is-textarea-border-radius;
  max-width: 100%;
  width: 100%;
  min-height: 300px;
  box-shadow: none;
  box-sizing: border-box;
}

input[type="radio"], input[type="checkbox"] {
  display: none;
  height: 0;
  width: 0;
  opacity: 0;

  + label {
    display: inline-block;
    min-width: 150px;

    span {
      display: inline-block;
      position: relative;
      margin-right: 15px;
      background: $is-input-background;
      border: $border-width solid $is-input-border-color;
    }
  }

  &.is-error + label span { border-color: $color-error; }
  &.is-danger + label span { border-color: $color-danger; }
  &.is-success + label span { border-color: $color-success; }
  &.is-info + label span { border-color: $color-info; }

  &.is-transparent + label span {
    background: transparent;
  }
}

input[type="radio"]:not(.is-trigger) {
  + label span {
    height: $is-radio-size;
    width: $is-radio-size;
    border-radius: $is-radio-size / 2;
  }

  &:checked + label span:before {
    position: absolute;
    content: "";
    margin: 3px;
    height: $is-radio-size - 10;
    width: $is-radio-size - 10;
    border-radius: ($is-radio-size - 5) / 2;
    background: $is-input-checked-color;
  }

  &.is-glow:checked + label span:before {
    box-shadow: $is-input-checked-glow-factor $is-input-checked-color;
  }
}

input[type="checkbox"]:not(.is-trigger) {
  + label span {
    height: $is-checkbox-size;
    width: $is-checkbox-size;
    border-radius: $border-radius;
  }

  &:checked + label span:before {
    position: absolute;
    content: "";
    background: $is-input-checked-color;
    height: 2px;
    bottom: 6px;
    width: 10px;
    transform: rotate(45deg);
  }

  &:checked + label span:after {
    position: absolute;
    content: "";
    background: $is-input-checked-color;
    height: 2px;
    bottom: 8px;
    width: 17px;
    transform: rotate(-45deg);
    left: 5px;
  }

  &.is-glow:checked + label span:before, &.is-glow:checked + label span:after {
    box-shadow: $is-input-checked-glow-factor $is-input-checked-color;
  }
}

input[type="checkbox"].is-trigger, input[type="radio"].is-trigger {
  + label span {
    position: relative;
    height: $is-trigger-height;
    width: $is-trigger-width;
    border-radius: $is-trigger-border-radius;
    background: $is-trigger-color;
    border: $is-trigger-border;

    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      margin-top: - $is-trigger-indicator-height / 2;
      height: $is-trigger-indicator-height;
      width: $is-trigger-indicator-width;
      border-radius: $is-trigger-indicator-border-radius;
      background: $is-trigger-indicator-color;
      border: $is-trigger-indicator-border;
      @extend .is-transition-short;
    }
  }

  &:checked + label span:before {
    left: $is-trigger-width - $is-trigger-indicator-width;
    background: $is-trigger-indicator-active-color;
    border: $is-trigger-indicator-active-border;
    box-shadow: $is-trigger-indicator-active-glow-factor $is-trigger-indicator-active-glow-color;
  }
}

::-webkit-input-placeholder { color: $is-input-placeholder-color; }
::-moz-placeholder { color: $is-input-placeholder-color; }
:-ms-input-placeholder { color: $is-input-placeholder-color; }
:-moz-placeholder { color: $is-input-placeholder-color; }
::-moz-placeholder { opacity: 1; }
