h1, h2, h3, h4, h5, h6 {
  color: $is-hx-default;
  margin: 10px 0 25px;
  line-height: 1.4;
  &.is-primary { color: $is-hx-primary; }
  &.is-secondary { color: $is-hx-secondary; }
  &.is-error { color: $color-error; }
  &.is-danger { color: $color-danger; }
  &.is-success { color: $color-success; }
  &.is-info { color: $color-info; }
  &.is-white { color: $white; }
  &.is-black { color: $black; }
  &.is-uppercase { text-transform: uppercase; }
  &.is-left { text-align: left; }
  &.is-right { text-align: right; }
  &.is-center { text-align: center; }
}

h1 {
  font-size: $is-h1;
  font-weight: $is-h1-weight;
  strong, b { font-weight: $is-h1-weight + 200; }
}

h2 {
  font-size: $is-h2;
  font-weight: $is-h2-weight;
  strong, b { font-weight: $is-h2-weight + 200; }
}

h3 {
  font-size: $is-h3;
  font-weight: $is-h3-weight;
  strong, b { font-weight: $is-h3-weight + 200; }
}

h4 {
  font-size: $is-h4;
  font-weight: $is-h4-weight;
  strong, b { font-weight: $is-h4-weight + 200; }
}

h5 {
  font-size: $is-h5;
  font-weight: $is-h5-weight;
  strong, b { font-weight: $is-h5-weight + 200; }
}

h6 {
  font-size: $is-h6;
  font-weight: $is-h6-weight;
  strong, b { font-weight: $is-h6-weight + 200; }
}

p {
  font-weight: $is-p-weight;
  font-size: $is-p-medium;
  color: $is-p-default;
  margin-bottom: $is-p-margin-bottom;
  line-height: 1.6;
  &.is-primary { color: $is-p-primary; }
  &.is-secondary { color: $is-p-secondary; }
  &.is-error { color: $color-error; }
  &.is-danger { color: $color-danger; }
  &.is-success { color: $color-success; }
  &.is-info { color: $color-info; }
  &.is-white { color: $white; }
  &.is-black { color: $black; }
  &.is-left { text-align: left; }
  &.is-right { text-align: right; }
  &.is-center { text-align: center; }
  &.is-small { font-size: $is-p-small; }
  &.is-large { font-size: $is-p-large; }
  strong, b { font-weight: $is-p-weight + 200; }
}
