// colors
$color-primary: #1ef1b7;
$color-secondary: #1f2b4a;

$color-error: #e74c3c;
$color-danger: #f1c40f;
$color-success: #2ecc71;
$color-info: #3498db;

$white: #ffffff;
$black: #191919;

$color-map: ( // colors in this will generate basic color "is-XX" classes in typo and wrapper for example
  primary: $color-primary,
  secondary: $color-secondary,
  error: $color-error,
  danger: $color-danger,
  success: $color-success,
  info: $color-info,
  white: $white,
  black: $black
);

// animations
$is-transition-short-duration: .2s;
$is-transition-medium-duration: .5s;
$is-transition-long-duration: 1s;
$is-transition-timing: ease;

// disabled
$is-disabled-opacity: 0.8;

// selection
$selection-background: $color-primary;
$selection-color: $white;

// border
$border-width: 2px;
$border-color: $color-secondary;
$border-radius: 5px;

// breakpoints
$mobile: 768px;
$tablet: 1025px;
$desktop: 1224px;

$is-mobile: "only screen and (min-width:#{$mobile})";
$is-mobile-only: "only screen and (min-width:#{$mobile}) and (max-width:#{$tablet - 1})";
$is-mobile-to-tablet: "only screen and (min-width:#{$mobile}) and (max-width:#{$desktop - 1})";

$is-tablet: "only screen and (min-width:#{$tablet})";
$is-tablet-only: "only screen and (min-width:#{$tablet}) and (max-width:#{$desktop - 1})";

$is-desktop: "only screen and (min-width:#{$desktop})";

// grid
$has-columns-margin-enabled: "yes"; // if you don't need the margin classes use "no", if you need it use "yes". This option exists, because with those margin classes the grid has to be compiled 3 times. To save you filesize disable it if not needed.
$has-columns-margin-small-enabled: "yes"; // if you dont need margin small class use "no", if you need it use "yes";
$has-columns-margin-small: 0.5%; // needs % value because it just decreases the width in order to add spaces
$has-columns-margin-medium-enabled: "yes"; // if you dont need margin medium class use "no", if you need it use "yes";
$has-columns-margin-medium: 1%; // needs % value because it just decreases the width in order to add spaces
$has-columns-margin-large-enabled: "yes"; // if you dont need margin large class use "no", if you need it use "yes";
$has-columns-margin-large: 1.5%; // needs % value because it just decreases the width in order to add spaces

$is-column-order-enabled: "yes"; // If you don't need ordering you are here able to disable it for reducing filesize like the margin enabeling on "has-columns"
$is-columns-amount: 12; // columns which fit in one row
$is-column-padding-small: 5px;
$is-column-padding-medium: 15px;
$is-column-padding-large: 25px;

// container
$is-container-width: 1200px;

// wrapper
$is-wrapper-padding-horizontal: 5%; // shoudn't be lower than "$has-columns-margin-large"

$is-wrapper-padding-small: 25px;
$is-wrapper-padding-medium: 50px;
$is-wrapper-padding-large: 75px;

$is-wrapper-margin-small: 25px;
$is-wrapper-margin-medium: 50px;
$is-wrapper-margin-large: 75px;

$is-wrapper-primary: $color-primary;
$is-wrapper-secondary: $color-secondary;

// buttons
$is-btn-color: $white;
$is-btn-outline-color: $color-secondary;
$is-btn-background: $color-secondary;
$is-btn-color-hover: $white;
$is-btn-outline-color-hover: darken($color-secondary, 10%);
$is-btn-background-hover: darken($color-secondary, 10%);

$is-btn-primary-color: $color-secondary;
$is-btn-primary-outline-color: $color-primary;
$is-btn-primary-background: $color-primary;
$is-btn-primary-color-hover: $color-secondary;
$is-btn-primary-outline-color-hover: darken($color-primary, 10%);
$is-btn-primary-background-hover: darken($color-primary, 10%);

$is-btn-secondary-color: $white;
$is-btn-secondary-outline-color: $color-secondary;
$is-btn-secondary-background: $color-secondary;
$is-btn-secondary-color-hover: $white;
$is-btn-secondary-outline-color-hover: darken($color-secondary, 10%);
$is-btn-secondary-background-hover: darken($color-secondary, 10%);

$is-btn-glow-factor: 0px 0px 10px 0px;

$is-btn-small-padding: 5px 10px;
$is-btn-small-fontsize: 18px;

$is-btn-medium-padding: 15px 25px;
$is-btn-medium-fontsize: 24px;

$is-btn-large-padding: 25px 35px;
$is-btn-large-fontsize: 34px;

$btn-circle-small-size: 45px;
$btn-circle-medium-size: 60px;
$btn-circle-large-size: 80px;

$is-btn-border-radius: "half"; // if set to half, than button borders on the left and right are completly round. otherwise use px value.

// typo
$font-import-link: "https://fonts.googleapis.com/css?family=Open+Sans:400,600";
$font-critical: "Arial", sans-serif;
$font-non-critical: "Open Sans", sans-serif;

$is-hx-weight: 200;
$is-hx-default: $black;
$is-hx-primary: $color-primary;
$is-hx-secondary: $color-secondary;

$is-h1: 45px;
$is-h1-weight: $is-hx-weight;

$is-h2: 40px;
$is-h2-weight: $is-hx-weight;

$is-h3: 35px;
$is-h3-weight: $is-hx-weight;

$is-h4: 30px;
$is-h4-weight: 400;

$is-h5: 28px;
$is-h5-weight: 400;

$is-h6: 24px;
$is-h6-weight: 400;

$is-p-weight: 400;
$is-p-default: $black;
$is-p-primary: $color-primary;
$is-p-secondary: $color-secondary;
$is-p-small: 14px;
$is-p-medium: 18px;
$is-p-large: 24px;
$is-p-margin-bottom: 25px;

$is-a-color: $color-primary;
$is-a-color-hover: $color-secondary;
$is-a-weight: $is-p-weight;

// hr
$is-hr-margin: 25px 0;
$is-hr-height: 1px;
$is-hr-default-color: $color-primary;

// list
$is-list-margin-bottom: 25px;

$is-listitem-margin-bottom: 10px;
$is-listitem-padding-left: 25px;
$is-listitem-dot-spacing: 5px;
$is-listitem-dot-dimensions: 15px;
$is-listitem-dot-color: $color-primary;
$is-listitem-dot-border-radius: 50%;

// form
$is-label-color: $black;
$is-label-fontsize: 24px;

$is-input-color: $black;
$is-input-background: $white;
$is-input-border-color: $border-color;
$is-input-border-color-focus: $color-primary;
$is-input-placeholder-color: $border-color;
$is-input-checked-color: $color-primary;
$is-input-checked-glow-factor: $is-btn-glow-factor;
$is-input-padding: 0 25px;
$is-input-height: 50px;
$is-input-fontsize: 18px;

$is-input-border-radius: "half"; // if set to half, than button borders on the left and right are completly round. otherwise use px value.

$is-select-arrow-color: $color-primary;

$is-checkbox-size: 25px;
$is-radio-size: 25px;
$is-checkbox-border-radius: $border-radius;
$is-textarea-border-radius: $border-radius;

$is-trigger-width: 50px;
$is-trigger-height: 10px;
$is-trigger-border: 0;
$is-trigger-color: $color-secondary;
$is-trigger-border-radius: $is-trigger-height / 2;

$is-trigger-indicator-height: 25px;
$is-trigger-indicator-width: 25px;
$is-trigger-indicator-color: $color-secondary;
$is-trigger-indicator-border: 0;
$is-trigger-indicator-border-radius: $is-trigger-indicator-height / 2;

$is-trigger-indicator-active-color: $color-primary;
$is-trigger-indicator-active-border: 0;
$is-trigger-indicator-active-glow-factor: $is-btn-glow-factor;
$is-trigger-indicator-active-glow-color: $is-trigger-indicator-active-color;

// table
$is-table-color: $black;
$is-table-border: $border-color;
$is-table-head-color: $color-primary;
$is-table-head-background: $color-secondary;

$is-table-cellpadding: 15px 25px;

// notification
$is-notification-enabled: "yes"; // if you dont need notification style use "no", if you need it use "yes"
$is-notification-margin: 0 0 25px;

$is-notification-padding: 25px;
$is-notification-color: #eeeeee;
$is-notification-font-darken: 30%;
$is-notification-border-radius: $border-radius;

$is-notification-close-dimensions: 25px;
$is-notification-close-color: $black;
$is-notification-close-opacity: 0.25;
$is-notification-close-icon-color: $white;
$is-notification-close-icon-stroke-height: 2px;
$is-notification-close-icon-stroke-width: 10px;

// tooltips
$is-tooltip-enabled: "yes"; // if you dont need tooltip style use "no", if you need it use "yes"

$is-tooltip-color: $color-primary;
$is-tooltip-opacity: 0.9;
$is-tooltip-padding: 10px;
$is-tooltip-max-width: 200px;
$is-tooltip-border-radius: $border-radius;
$is-tooltip-font-color: $color-secondary;
$is-tooltip-font-size: 14px;

$is-tooltip-arrow-height: 5px;
$is-tooltip-arrow-width: 10px;

// tabmenu
$is-tabmenu-enabled: "yes"; // if you dont need tabmenu style use "no", if you need it use "yes"
$is-tabmenu-margin: 0 0 25px;

$is-tabmenu-navigation-background: $white;
$is-tabmenu-navigation-padding: 5px;
$is-tabmenu-navigation-border: $border-width solid $border-color;
$is-tabmenu-navigation-border-radius: $border-radius;
$is-tabmenu-navigation-margin: 0 5px 0 0;

$is-tabmenu-content-background: $white;
$is-tabmenu-content-padding: 15px;
$is-tabmenu-content-border: $border-width solid $border-color;
$is-tabmenu-content-border-radius: $border-radius;

// accordion
$is-accordion-enabled: "yes"; // if you dont need accordion style use "no", if you need it use "yes"
$is-accordion-margin: 0 0 25px;

$is-accordion-trigger-color: $color-secondary;
$is-accordion-trigger-font-color: $white;
$is-accordion-trigger-padding: 10px 25px;
$is-accordion-trigger-border: 0;
$is-accordion-trigger-border-radius: 0;

$is-accordion-content-padding: 10px 25px;
$is-accordion-content-border: $border-width solid $border-color;
$is-accordion-content-color: $white;
$is-accordion-content-border-radius: 0;

$is-accordion-icon-color: $white;
$is-accordion-icon-stroke-height: 2px;
$is-accordion-icon-stroke-width: 15px;
$is-accordion-icon-right-space: 25px;

// modal
$is-modal-enabled: "yes"; // if you dont need modal style use "no", if you need it use "yes"

$is-modal-color: $black;
$is-modal-opacity: 0.8;
$is-modal-gardient: "yes"; // if you want a radial gardient use "yes"

$is-modal-content-color: $white;
$is-modal-content-border: $border-width solid $border-color;
$is-modal-content-border-radius: $border-radius;
$is-modal-content-padding: 15px;
$is-modal-content-margin: 25px auto 0;
$is-modal-content-max-width: 400px;

$is-modal-close-dimensions: 35px;
$is-modal-close-color: $color-primary;
$is-modal-close-border: 0;
$is-modal-close-border-radius: 50%;
$is-modal-close-color-hover: $color-secondary;

$is-modal-close-icon-color: $white;
$is-modal-close-icon-height: 2px;
$is-modal-close-icon-width: 20px;

// 117 variables to customize


/* cheatsheet

# media queries
  @media #{$is-mobile}
  @media #{$is-tablet}
  @media #{$is-desktop}

# load for critical css only
  @if $critical == "yes" or $critical == "full"

# load for non-critical css only
  @if $critical == "no" or $critical == "full"

# generate classes from $color-map
  @each $name, $color in $color-map

*/
